@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fredericka+the+Great&family=Tillana:wght@500&display=swap');
body{
    background-image: url(backgroundsample1.jpg);
    background-size: 100rem;
    perspective: 1500px;
}
h1{
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 2rem 0 0 0;
    font-size:35px
}
h2{
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 0.14rem;
    text-align: center;
    font-size:30px;
    margin-top: 1rem;
}
.cdplayer{
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    padding: 7rem 3rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /* margin: auto; */
}


.page1 {
    position: relative;
    width: 18rem;
    height: 18rem;
    /* background-image: url(rc1.png);  */
    /* background-size:80%; */
    transition: 0.5s;
    transform:rotateY(45deg);
    transform-style: preserve-3d;
}


.page2{
    position: relative;
    width: 18rem;
    height: 18rem;
    /* background-image: url(rc2.png);  */
    background-size:100%;
    transition: 0.5s;
    transform: rotateY(37deg);
}

.page3{
    position: relative;
    width: 18rem;
    height: 18rem;
    background-size:100%;
    /* background-image: url(rc3.png);  */
    transition: 0.5s;
    transform: rotateY(32deg);
}

/* 페이지 을 호버 하면 이미지가 위로 올라옴  */
.page1:hover > .imgrc1{
    transform: translateY(-160px);
}
.page2:hover > .imgrc2{
    transform: translateY(-160px);
}
.page3:hover > .imgrc3{
    transform: translateY(-160px);
}

/* 페이지를 호버하면 화면이 회전 */
.page1:hover {
    transform:rotateY(0deg);
}
.page2:hover{
    
    transform: rotateY(0deg);
}
.page3:hover{
    
    transform: rotateY(0deg);
}

/* 꼭 넣어줘야 3D로 보임. */
.page{
    transform-style: preserve-3d;
}


.table{
    position:absolute;
}

/* 꼭.. 해야 겹쳐짐  */
.imgrc1{
    position:absolute;
    transition:0.5s;
}
.imgrc2{
    position:absolute;
    transition:0.5s;
}
.imgrc3{
    position:absolute;
    transition:0.5s;
}

img{
    width:18rem;
    height:18rem;
    
}
.hobby{
    font-size: 15px;
    background-color: #fff;
    
}